.container {
  text-align: center;
}
button{
  margin:10px;
  color:red;
  background:lightgreen;
  width:40px;
  height:35px;
  font-size: 20px;

}
input{
  background-color: lightblue;
  border-radius: 5px;
  width:70px;
  height:35px;
  align-content: center;
}